---
import HTML from "./Icons/HTML.astro";
import Javascript from "./Icons/Javascript.astro";
import React from "./Icons/React.astro";
import Redux from "./Icons/Redux.astro";
import sequelize from "./Icons/sequelize.astro";
import Express from "./Icons/Express.astro";
import Firebase from "./Icons/Firebase.astro";
import MaterialUI from "./Icons/MaterialUI.astro";
import Github from "./Icons/Github.astro";
import Link from "./Icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  html: {
    name: "HTML",
    class: "bg-gray-500 dark:bg-white text-white dark:text-black",
    icon: HTML,
  },
  js: {
    name: "Javascript",
    class: "bg-gray-500 dark:bg-white text-white dark:text-black",
    icon: Javascript,
  },
  react: {
    name: "React",
    class: "bg-gray-500 dark:bg-white text-white dark:text-black",
    icon: React,
  },
  redux: {
    name: "Redux",
    class: "bg-gray-500 dark:bg-white text-white dark:text-black",
    icon: Redux,
  },
  sequelize: {
    name: "Sequelize",
    class: "bg-gray-500 dark:bg-white text-white dark:text-black",
    icon: sequelize,
  },
  express: {
    name: "Express",
    class: "bg-gray-500 dark:bg-white text-white dark:text-black",
    icon: Express,
  },
  firebase: {
    name: "Firebase",
    class: "bg-gray-500 dark:bg-white text-white dark:text-black",
    icon: Firebase,
  },
  materialui: {
    name: "MaterialUI",
    class: "bg-gray-500 dark:bg-white text-white dark:text-black",
    icon: MaterialUI,
  },
};

const PROYECTS = [
  {
    title: "Call of whatever i Want",
    description:
      "Un mini juego utilizando JavaScript puro, con un poco de CSS para el menú principal usando Less. Fue creado simplemente para practicar el uso de clases y objetos en JS. Actualmente está desplegado en Vercel. No es responsive.",
    link: "https://callofwhatever.vercel.app/",
    github: "https://github.com/Ricardo-Gabriel-Rouco/callofwhatever",
    image: "/callof.webp",
    tags: [TAGS.html, TAGS.js],
  },
  {
    title: "Pi-videogames",
    description:
      "Esto es una aplicación Crud creada para el Proyecto Individual en el bootcamp de Desarrollo FullStack en SoyHenry. Fue construida con React, Js, Redux, Sequelize y un servidor Express. El despliegue se realiza en Railway y debido a las restricciones del plan gratuito, podría estar fuera de servicio. Toda la información proviene de la API de Rawg.io. Además, la página se renderiza en Vercel.",
    link: "https://video-game-deploy.vercel.app/",
    github: "https://github.com/Ricardo-Gabriel-Rouco/videoGameDeploy",
    image: "/video-games.webp",
    tags: [TAGS.react, TAGS.redux, TAGS.express, TAGS.sequelize],
  },
  {
    title: "Book´s Kingdom",
    description:
      "Un comercio electrónico que fue desarrollado como proyecto final en el bootcamp de SoyHenry, en equipo con seis miembros. Utilizamos Firebase para el back-end, y la autenticación de usuarios se realizó con el servicio de autenticación de Google. Además, para el estilo del front-end empleamos Material UI, NodeMailer para el envío de correos electrónicos y finalmente implementamos Redux Toolkit para gestionar estados globales.",
    link: "https://www.book-kingom.com.ar/",
    github: "https://github.com/Ricardo-Gabriel-Rouco/PFHENRY",
    image: "/bookkingdom.webp",
    tags: [TAGS.react, TAGS.firebase, TAGS.materialui, TAGS.redux],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROYECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="An awesome alt for an awesome image"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-amber-500 ">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2  dark:text-white/70 ">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <Github class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
